*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --bgcolor :#2A2D34;
    --textColor : #aaa;
    --avtiveTextColor : #fff;
    --headingTextColor : #424143;
}

.remove-a{
    color:var(--textColor);
    text-decoration: none;
}
.avtiveLink{
    color: var(--avtiveTextColor) !important;
    position: relative;
}
.avtiveLink::after{
    content: "";
    width: 80%;
    height: 4px;
    background-color: #fa0c0f;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}
header {
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: var(--bgcolor);
    height: 100px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.logo-box{
    padding-left:3%;
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    height: 100px;
}
.logo-box a {
    color: var(--avtiveTextColor);
}
.logo-box a .square{
    background-color: #fa0c0f;
}
.logo-box a h1{
    vertical-align: middle;
}
.lg-menue-button{
    padding-right: 30px;
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    height: 100px;
    text-align: right;
}
.lg-menue-button ul{
    display: block;
}
.lg-menue-button ul li{
    display: inline-block;
    color: var(--textColor);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.lg-menue-button .bar{
    display: none;
    margin: 0 20px;
    cursor: pointer;
}
.sm-menue-button{
    display: none;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color:var(--bgcolor);
}
.sm-menue-button ul{
    list-style: none;
    width: 100%;
    text-align: center;
}
.sm-menue-button ul li {
    color: var(--textColor);
    /* display: block; */
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /* margin: 0 50px; */
}
#close{
    display: none;
}
@media screen and (min-width:0px) and (max-width:775px) {
    .lg-menue-button .bar{
       width: 100px;
        display: block;
        text-align: center;
    } 
    .lg-menue-button ul {
        display: none;
    }
    .logo-box{
        text-align: center;
        width: 90%;
    }
}

/* ==============================================================
                Home Image Section
============================================================== */
.home{
    display: flex;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 600px;
    position: relative;
}
.home img{
    transform: translate(-50%,-50%);
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}
.home .quate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--avtiveTextColor);
    background: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(2px);
}
.home .quate h1{
    font-size: 3em;
    line-height: 1.5em;
}
.home .quate h2{
    font-size: 1.7em;
    font-weight:100;
}

/* ==============================================================
                About Us Section
============================================================== */

section .outerBox{
    padding: 70px 0px 20px;
    color: var(--headingTextColor);
}
section .outerBox h1{
    text-align: center;
    margin-bottom:60px ;
}
section .outerBox h1 span{
    font-size: 1.5em;
    position: relative;
}
section .outerBox h1 span::after{
    content: "";
    background: #fa0c0f;
    position: absolute;
    top: 130%;
    left: 50%;
    width: 50%;
    height: 5px;
    transform: translateX(-50%);
}
/* ============================================================================
            DropBox Section
============================================================================ */
.dropBox{
    margin: 0px auto;
    max-width: 1000px;
    width: 100%;
    /* height: 200px; */
    background: var(--bgcolor);
}
.dropBox .dropBox-tab{
    background: var(--textColor);
}
.dropBox .dropBox-tab ul li{
    display: inline-block;
    margin: 0;
    padding: 20px 30px;
    font-size: 18px;
    color: var(--avtiveTextColor);
    cursor: pointer;
}
.avtivaTab{
    background: var(--bgcolor);
    font-weight: 600;
    color: var(--avtiveTextColor);
}
.dropBox .dropBox-content{
    padding: 50px;
    color: var(--avtiveTextColor);
}

/* ============================================================
                service Section
============================================================ */
.none{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.slider{
    height: 200px;
    width: 100%;
    background: var(--bgcolor);
    color: var(--avtiveTextColor);
}
.slider .container{
    position: relative;
    padding: 20px 100px;
}

.sliderBox{
    margin: 10px auto;
    width: 90%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
#sliderText{
    text-align: center;
    display: block;
    padding: 20px;
    width: 100%;
    font-size: 18px !important;
    position: absolute;
    top: 0px;
    z-index: 100;
}
.arrow{
    height: 200px;
    width: 10%;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--avtiveTextColor);
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.align-right{
    right: 0;
}
.align-left{
    left: 0;
}
/* ================================================================================
                            Project 
================================================================================ */
.showCase{
    text-align: center;
}
.showCaseBox{
    display: inline-block;
    margin: 20px 3px;
    width: 390px;
    height: 390px;
    border-radius: 20px;
    background: var(--headingTextColor);
}
.showCaseBox img{
    max-width: 100%;
    min-height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

/* ===================================================================================
                    Contact Section
=================================================================================== */
#email_form input{
    width: 80%;
    display: block;
    max-width: 800px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px auto;
}
#email_form textarea{
    width: 80%;
    display: block;
    max-width: 800px;
    padding: 10px 20px;
    margin: 20px auto;
    height: 100px;
    font-size: 18px;
}
#submit_form{
    width: 300px !important;
    padding: 15px 50px !important;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px !important;
    background-color: var(--headingTextColor);
    color: var(--avtiveTextColor);
    border: 2px solid #fff;
    cursor: pointer;
}
#submit_form:hover{
    background: var(--bgcolor);
    font-weight: 700;
}
/* ================================================================
                Footer Section
================================================================ */
footer{
    color: var(--avtiveTextColor);
    background: var(--bgcolor);
    /* height: 400px; */
}
footer .container{
    padding: 50px 0px 30px;
}
footer .footerBox{
    width:400px ;
    display: table-cell;
    padding: 0 50px;
}
footer .footerHeading{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
footer .copyRightBox{
    margin-top: 30px;
    text-align: center;
    border-top: 3px solid #fff;
}

/* ==========================================================
            Slider effects
========================================================== */
.dataIn-animation{
    /* animation: dataIn 1s linear; */
    animation : dataIn 2s cubic-bezier(0.93, -0.06, 0.14, 0.99)
}
@keyframes dataIn {
    0%{
        opacity: 1;
        left: 0;
    }
    45%{
        opacity: 0;
        left: -100%;
    }
    55%{
        opacity: 0;
        left: 200%;    
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
.dataOut-animation{
    animation : dataOut 2s cubic-bezier(0.93, -0.06, 0.14, 0.99)
}
@keyframes dataOut {
    0%{
        opacity: 1;
        right: 0;
    }
    45%{
        opacity: 0;
        right: -100%;
    }
    55%{
        opacity: 0;
        right: 200%;    
    }
    100%{
        opacity: 1;
        right: 0;
    }
}